.card-body>.btn {
    width: 100%;
}

.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    cursor: pointer;
}

.home-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.home-container>div {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.catalog-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.book-nav {
    display: flex;
    gap: 10px;
}

.book-nav>.input-group {
    max-width: 250px;
}

.genres {
    max-width: 25%;
}

.book-list {
    max-width: 66%;
}

.book {
    width: 300px;
    max-height: 500px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.card-img-top {
    height: 300px;
}

.buttons>button {
    height: 40px;

    width: fit-content;
    text-align: center
}

.list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 80vh;
}